<div class="grid grid-cols-2 gap-3">
  <div>
    <p class="text-2xl border-b-2">Новости</p>
    <div class="text-left">
      <p>Выпущена первая релизная версия</p>
    </div>
  </div>
  <div>
    <p class="text-2xl border-b-2">О сайте</p>
    <div class="text-left">
      <p>Данный сайт предназначен для управления проектами по методологии Kanban.
        Основными возможностями являются возможность создания проектов, редактирования, удаления, создание задач
        и так далее.
      </p>
      <p class="mt-2">Необходимо авторизоваться в систему для получения доступа к ресурсу.</p>
    </div>
  </div>
</div>


