<header class="bg-blue-300 flex flex-row flex-auto justify-around items-center">
  <div class="">
    <h1 class="text-4xl">Менеджер проектов</h1>
  </div>
  <a class="px-2 hover:bg-gray-400 bg-blue-100" routerLink="">Главная</a>
  <a class="px-2 hover:bg-gray-400 bg-blue-100" routerLink="/projects">Проекты</a>
  <a class="px-2 hover:bg-gray-400 bg-blue-100" routerLink="/projects-list">Сообщество</a>
  <div *ngIf="!isAuthenticated" class="flex flex-col">
    <a class="px-2 hover:bg-gray-400 bg-blue-100" routerLink="/registration">Регистрация</a>
    <a class="px-2 hover:bg-gray-400 bg-blue-100" routerLink="/login">Авторизация</a>
  </div>
  <div *ngIf="isAuthenticated">
    <button (click)="logout()">Выйти</button>
  </div>
</header>
